	<center><h1>Resultados</h1></center>
<br><br>
<div class="panel panel-default">
		<div class="panel-body">
		  <table ng-init='configPages()'class='table' id="mytable">
			<thead>
			  <tr>
				<th>VISITA</th>
				<th> PTS</th>
				<th>LOCAL</th>
				<th>PTS</th>
				<th>Guardar</th>
			  </tr>
			</thead>
			<tbody>
				<tr>
					<td>Instituto Tecnológico de Oaxaca</td>
					<td><input type="text" class="form-control" /></td>
					<td>Instituto Tecnológico de Veracruz</td>
					<td><input type="text" class="form-control" /></td>
					<td><a ng-click="guardaResultado()" ng-ref="" class="btn btn-info btn-sm">
					<i class="fas fa-save" aria-hidden></i></a></td>
				</tr>
			</tbody>
		</div>