<CENTER>
<h1>Ajedrez</h1>
<br>
  <select>
    <option value="femenil">Femenil</option>
    <option value="varonil">Varonil</option>
  </select> 
<br><br>
</CENTER>
	<div class="tab">
  <button class="tablinks" onclick="openGrupo(event, 'r1')">Ronda 1</button>
  <button class="tablinks" onclick="openGrupo(event, 'r2')">Ronda 2</button>
  <button class="tablinks" onclick="openGrupo(event, 'r3')">Ronda 3</button>
  <button class="tablinks" onclick="openGrupo(event, 'r4')">Ronda 4</button>
  <button class="tablinks" onclick="openGrupo(event, 'r5')">Ronda 5</button>
  <button class="tablinks" onclick="openGrupo(event, 'sf')">Semifinales</button>
  <button class="tablinks" onclick="openGrupo(event, 'f')">Finales</button>
</div>

<div id="r1" class="tabcontent">
    <table class="table">
      <tr>
        <td id="td">Tec 1</td>
        <td id="td">1</td>
        <td id="td">vs</td>
        <td id="td">0</td>
        <td id="td">Tec 2</td>  
      </tr>
      <tr>
        <td id="td">Tec 1</td>
        <td id="td">1</td>
        <td id="td">vs</td>
        <td id="td">0</td>
        <td id="td">Tec 2</td>  
      </tr>
      <tr>
        <td id="td">Tec 1</td>
        <td id="td">1</td>
        <td id="td">vs</td>
        <td id="td">0</td>
        <td id="td">Tec 2</td>  
      </tr>
      <tr>
        <td id="td">Tec 1</td>
        <td id="td">1</td>
        <td id="td">vs</td>
        <td id="td">0</td>
        <td id="td">Tec 2</td>  
      </tr>
      <tr>
        <td id="td">Tec 1</td>
        <td id="td">1</td>
        <td id="td">vs</td>
        <td id="td">0</td>
        <td id="td">Tec 2</td>  
      </tr>
    </table>
</div>

<div id="r2" class="tabcontent">
    <table class="table">
      <tr>
        <td id="td">Tec 1</td>
        <td id="td">1</td>
        <td id="td">vs</td>
        <td id="td">0</td>
        <td id="td">Tec 2</td>  
      </tr>
    </table>
</div>
<div id="r3" class="tabcontent">
    <table class="table">
      <tr>
        <td id="td">Tec 1</td>
        <td id="td">1</td>
        <td id="td">vs</td>
        <td id="td">0</td>
        <td id="td">Tec 2</td>  
      </tr>
    </table>
</div>
<div id="r4" class="tabcontent">
    <table class="table">
      <tr>
        <td id="td">Tec 1</td>
        <td id="td">1</td>
        <td id="td">vs</td>
        <td id="td">0</td>
        <td id="td">Tec 2</td>  
      </tr>
    </table>
</div>
<div id="r5" class="tabcontent">
    <table class="table">
      <tr>
        <td id="td">Tec 1</td>
        <td id="td">1</td>
        <td id="td">vs</td>
        <td id="td">0</td>
        <td id="td">Tec 2</td>  
      </tr>
    </table>
</div>

<div id="sf" class="tabcontent">
	<table class="table">
      <tr >
        <td id="td">Tec 1</td>
        <td id="td">1</td>
        <td id="td">vs</td>
        <td id="td">0</td>
        <td id="td">Tec 2</td>        
      </tr>
      <tr >
        <td id="td">Tec 1</td>
        <td id="td">0</td>
        <td id="td">vs</td>
        <td id="td">1</td>
        <td id="td">Tec 2</td>        
      </tr>
    </table>
</div>

<div id="f" class="tabcontent">
  	<table class="table">
  		<tr>
  			<td id="td">Tec 1</td>
        <td id="td">1</td>
        <td id="td">vs</td>
        <td id="td">0</td>
        <td id="td">Tec 2</td>  
  		</tr>
  	</table>
</div>