  <CENTER><h1>{{disciplina}}</h1> </CENTER>
<hr>
<div class="row">
  <div class="col-xs-2">
     <button type="button" class="btn btn-dark" ng-class="{'active':main.rutaActual=='/disciplinas'}" onclick="location.href='#/disciplinas'">
                     <span class="glyphicon glyphicon-chevron-left">REGRESAR</span>
      </button> 
  </div>
  <div class="col-xs-3">
  </div>
</div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <select class="form-control" >
               <option  ng-click='opcion(1)' value="femenil">RAMA FEMENIL</option> 
               <option  ng-click='opcion(2)' value="varonil" selected>RAMA VARONIL</option> 
            </select>
        </div>
        <div class="col-xs-3"></div>
    <div></br><hr>
<div class="tab">
    <button class="tablinks" ng-click='OpcionJornada(1)'id="J1">JORNADA 1</button>
    <button class="tablinks" ng-click='OpcionJornada(2)'id="J2">JORNADA 2</button>
    <button class="tablinks" ng-click='OpcionJornada(3)'id="J3">JORNADA 3</button>
    <button class="tablinks" ng-click='OpcionJornada(6)'id="J4" ng-show="disciplina==='AJEDREZ'">JORNADA 4</button>
    <button class="tablinks" ng-click='OpcionJornada(7)'id="J5" ng-show="disciplina==='AJEDREZ'">JORNADA 5</button>
    <button class="tablinks" ng-click='OpcionJornada(4)'id="S">SEMIFINAL</button>
    <button class="tablinks" ng-click='OpcionJornada(5)'id="F">FINAL</button>
</div>
<div class="panel panel-default">
        <div class="panel-body">
          <table ng-init='configPages()'class='table' id="mytable">
            <thead>
              <tr>
                <th align="CENTER">SEDE</th>
                <th align="CENTER">HORA</th>
                <th align="CENTER">LOCAL</th>
                <th align="CENTER">ANOTACIONES</th>
                <th align="CENTER">VS</th>
                <th align="CENTER">ANOTACIONES</th>
                <th align="CENTER">VISITANTE</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='g in games| startFromGrid: currentPage * pageSize | limitTo:pageSize', ng-click='seleccionarUsuario (dep.nombre)'>
                <td>{{g.sede}}</td>
                <td>{{g.hora}}</td>
                <td>{{g.local}}</td>
                <td align="CENTER">{{g.resultado1}}</td>
                <td align="CENTER">-</td>
                <td align="CENTER">{{g.resultado2}}</td>
                <td>{{g.visita}}</td>
            </tbody>
        </div>