<div class="container">    
  <div class="row">
      <div class="col-sm-3">
        <div class="panel panel-primary" >
          <div class="panel-heading" id="titulo">FUTBOL</div>
          <a href="#/FUTBOL/FUTBOL">
            <div class="panel-body"><img src="images/futbol.jpeg" class="img-responsive" style="width:100%" alt="Image">
            </div>
          </a>
        </div>
      </div>

      <div class="col-sm-3"> 
        <div class="panel panel-primary">
          <div class="panel-heading" id="titulo">BASQUETBOL</div>
          <a href="#/BASQUETBOL/BÁSQUETBOL">
            <div class="panel-body"><img src="images/basquet.jpg" class="img-responsive" style="width:100%" alt="Image">
            </div>
          </a>
        </div>
      </div>

      <div class="col-sm-3"> 
        <div class="panel panel-primary">
          <div class="panel-heading" id="titulo">VOLEIBOL PLAYA</div>
          <a href="#/VOLEIBOL/VOLEIBOL_PLAYA">
            <div class="panel-body"><img src="images/volibolP.jpg" class="img-responsive" style="width:100%" alt="Image">
            </div>
          </a>
        </div>
      </div>

      <div class="col-sm-3"> 
        <div class="panel panel-primary">
            <div class="panel-heading" id="titulo">VOLEIBOL SALA</div>
              <a href="#/VOLEIBOL/VOLEIBOL_SALA">
                <div class="panel-body"><img src="images/volibolS.jpg" class="img-responsive" style="width:100%" alt="Image">
                </div>
              </a>
        </div>
      </div>
  </div>


  <div class="row">
        <div class="col-sm-3"> 
          <div class="panel panel-primary">
              <div class="panel-heading" id="titulo">BEISBOL</div>
                <a href="#/BEISBOL/BEISBOL">
                <div class="panel-body"><img src="images/beisbol.jpeg" class="img-responsive"  style="width:100%" alt="Image">
                </div>
                </a>
          </div>
        </div>

        <div class="col-sm-3"> 
          <div class="panel panel-primary">
              <div class="panel-heading" id="titulo">SOFTBOL</div>
              <a href="#SOFTBOL/SOFTBOL">
                <div class="panel-body"><img src="images/softbol.jpeg" class="img-responsive" style="width:100%"  alt="Image">
                </div>
              </a>  
          </div>
        </div>

        <div class="col-sm-3"> 
            <div class="panel panel-primary">
                <div class="panel-heading" id="titulo">TENIS</div>
                <a href="#TENIS/TENIS">
                  <div class="panel-body"><img src="images/tenis.jpeg" class="img-responsive" style="width:100%" alt="Image">
                  </div>
                </a>
            </div>
        </div>

        <div class="col-sm-3"> 
            <div class="panel panel-primary">
              <div class="panel-heading" id="titulo">AJEDREZ</div>
              <a href="#AJEDREZ/AJEDREZ">
                <div class="panel-body"><img src="images/ajedrez.jpeg" class="img-responsive" style="width:100%" alt="Image">
                </div>
              </a>
            </div>
        </div>
  </div>

  <div class="row">
  <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading" id="titulo">NATACIÓN</div>
          <div class="panel-body"><img src="images/natacion.jpg" class="img-responsive" style="width:100%" alt="Image">
          </div>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="panel panel-primary">
        <div class="panel-heading" id="titulo">ATLETISMO</div>
            <div class="panel-body"><img src="images/atletismo.jpg" class="img-responsive" style="width:100%"  alt="Image">
            </div>
      </div>
    </div>
    <div class="col-sc-3"></div>
  </div>