  <h1>Tecnologicos</h1>
      <hr>      
      <div class="row">
        <div class="col-xs-4">
          <label for="">Identificador</label>
        </div>
        <div class="col-xs-3">
          <label for="">Nombre</label>
        </div>
        <div class="col-xs-3">
        <label for="">Logo</label>
        </div>
        <div class="col-xs-2">
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-4">
          <input type="text" class="form-control" ng-model="tecnologico.numero" />
        </div>
        <div class="col-xs-3">
          <input type="text" class="form-control" ng-model="tecnologico.nombre" />
        </div>
        <div class="col-xs-3">	
            <input type="text" class="form-control" ng-model="tecnologico.direccion">
        </div>
        <div class="col-xs-2 text-right">
        <button type="button" class="btn btn-primary" ng-click="guardarTec()">
          <i class="far fa-save" aria-hidden></i> Guardar
        </button>
        </div>
      </div>
  </div>
  