<script>
    // evento para recibir lo que se busca search
    $(document).ready(function(){
    $("#search").keyup(function(){
    _this = this;
    // muestrar solo los que coincidan con las busqueda
    //id de la tabla es mytable 
    $.each($("#mytable tbody tr"), function() {
    if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
    $(this).hide();
    else
    $(this).show();
    });
    });
   });
   </script>

<h1 align="center">
    Deportistas Activos
    <a href="#/deportista/nuevo" class="btn btn-primary btn-sm pull-right">
      <i class="fas fa-plus" aria-hidden></i> Nuevo Deportista
    </a>
</h1>
<br>
<div class="form-group">
  <left><label>Busqueda de Deportista</label></left><br>
      <center><input type="text" class="form-control pull-left" style="width:20%" id="search" placeholder="Nombre deportista...."></center>
</div>
<br>
     <hr>
  <div class="panel panel-default">
    <div class="panel-body">
      <table ng-init='configPages()'class='table' id="mytable">
        <thead>
          <tr>
            <th>NOMBRE</th>
            <th> CURP</th>
            <th>TEC. PROCEDENCIA</th>
            <th>DISCIPLINA</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='dep in deportistas| startFromGrid: currentPage * pageSize | limitTo:pageSize', ng-click='seleccionarUsuario (dep.nombre)'>
            <td>{{dep.nombre}} </td>
            <td>{{dep.curp}}</td>
            <td>{{dep.tecProcedencia}}</td>
            <td>{{dep.disciplina}}</td>
            <td> 
                <!--button type="button" class="btn btn-info btn-sm" ng-click="imprimir(a)">
                <i class="fas fa-print" aria-hidden></i>
                </button>
                <button type="button" class="btn btn-warning btn-sm" ng-click="borrar(a)">
                <i class="fas fa-trash-alt" aria-hidden></i>
                </button-->
                <a ng-href="#/deportista/{{dep.curp}}" class="btn btn-info btn-sm">
                <i class="fas fa-pencil-alt" aria-hidden></i></a></td>
        </tbody>
    </div>