<script>
    // evento para recibir lo que se busca search
    $(document).ready(function(){
    $("#search").keyup(function(){
    _this = this;
    // muestrar solo los que coincidan con las busqueda
    //id de la tabla es mytable 
    $.each($("#mytable tbody tr"), function() {
    if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
    $(this).hide();
    else
    $(this).show();
    });
    });
   });
   </script>

<h1 align="center">DEPORTISTAS ACTIVOS</h1>
<hr>
<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-2"></div>
  <div class="col-xs-3"></div>
  <div class="col-xs-5">
    <left>
      <label>Busqueda de Deportista</label>
    </left>
  </div>
</div>
<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-2"></div>
  <div class="col-xs-3"></div>
  <div class="col-xs-5"> 
    <center><input type="text" class="form-control pull-left" style="width:90%" id="search" placeholder="Nombre deportista o disciplina o tecnológico."></center>
  </div>
</div>
<hr>
  <div class="panel panel-default">
    <div class="panel-body">
      <table ng-init='configPages()'class='table' id="mytable">
        <thead>
          <tr>
            <th>NOMBRE</th>
            <th>CURP</th>
            <th>TECNOLÓGICO</th>
            <th>DISCIPLINA</th>
            <th>OPCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='dep in deportistas| startFromGrid: currentPage * pageSize | limitTo:pageSize', ng-click='seleccionarUsuario (dep.nombre)'>
            <td>{{dep.nombre}} </td>
            <td>{{dep.curp}}</td>
            <td>{{dep.tecProcedencia}}</td>
            <td>{{dep.disciplina}}</td>
            <td>
                <a ng-href="#/deportista/{{dep.curp}}" class="btn btn-primary btn-sm">
                <i class="fas fa-pencil-alt" aria-hidden>EDITAR</i></a>
                <a ng-click="desactivarDeportista(dep.curp)" class="btn btn-danger btn-sm">
                <i class="fas fa-user-times" aria-hidden>DESACTIVAR</i></a>
              </td>
        </tbody>
    </div>
    <div class='btn-group'>
                <button type='button' class='btn btn-default' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
                <button type='button' class='btn btn-default' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
                <button type='button' class='btn btn-default' ng-disabled='currentPage > deportistas.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>
     </div>