<script>
        // evento para recibir lo que se busca search
        $(document).ready(function(){
        $("#search").keyup(function(){
        _this = this;
        // muestrar solo los que coincidan con las busqueda
        //id de la tabla es mytable 
        $.each($("#mytable tbody tr"), function() {
        if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
        $(this).hide();
        else
        $(this).show();
        });
        });
       });
</script>
<h1 align="center">TECNOLÓGICOS PARTICIPANTES</h1>
<hr>
<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-2"></div>
  <div class="col-xs-3"></div>
  <div class="col-xs-5">
    <left>
      <label>Busqueda de Tecnológicos</label>
    </left>
  </div>
</div>
<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-2"></div>
  <div class="col-xs-3"></div>
  <div class="col-xs-5">
      <center><input type="text" class="form-control pull-left" style="width:90%" id="search" placeholder="Nombre Tecnológico."></center>
  </div>
</div>
<hr>
      <div class="panel panel-default">
          <div class="panel-body">
            <table ng-init='configPages()'class='table' id="mytable">
              <thead>
                <tr>
                  <th>Nombre de Tecnológico</th>
                  <th>Asistencia</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat='tec in tecnologicos | startFromGrid: currentPage * pageSize | limitTo:pageSize', ng-click='seleccionarUsuario (tec.nombre)'>
                  <td>{{tec.nombre}}</td>
                  <td> 
                    <a ng-href="#/tecnologicos/{{tec.nombre}}" class="btn btn-info btn-sm">
                      <i class="fas fa-pencil-alt" aria-hidden></i></a>
                  </td>
              </tbody>
              <div class='btn-group'>
                <button type='button' class='btn btn-default' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
                <button type='button' class='btn btn-default' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
                <button type='button' class='btn btn-default' ng-disabled='currentPage > tecnologicos.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>
            </div>
          </div>
      