<h3 id="nuestroTec">
Nuestro Tecnológico
</h3>

<div class="jumbotron">
  <p class="acercaDe">El Instituto Tecnológico de Oaxaca (ITO) es una institución pública de educación superior localizada en la Ciudad de Oaxaca de Juárez, Oaxaca, México. Imparte 9 carreras a nivel licenciatura y 2 a nivel posgrado en las áreas de ciencias sociales y administrativas, e ingeniería. Forma parte de la Dirección General de Educación Superior Tecnológica (DGEST), de la Secretaría de Educación Pública de México. Fue creado el 18 de abril de 1968, en un predio a las orillas de la Ciudad de Oaxaca.</p>
  <div class=noticias1><center>
    <p>Logotipo:</p>
    <img src="images/LogoITO.png"/>
    <br><p>Lema:</p>
    <em class="lema"> “Tecnología Propia e Independencia Económica”</em></center></div>
<div>
  <p class="acercaDe">Somos un instrumento de desarrollo de la comunidad, con el compromiso de formar profesionistas de excelencia, capaces de responder de manera eficiente y específica a las necesidades con calidad, productividad y con una visión nacional e internacional para el presente y el futuro.</p>
  <h3 class="lema1">Visión</h3>
  <p class="acercaDe">Ser la mejor institución de educación superior tecnológica en la región y del país reconocida y acreditada internacionalmente como una institución de calidad.</p>
  <h3 class="lema1">Valores</h3>
  <p class="acercaDe">El ser humano
                      <bR>El espíritu de servicio
                      <bR>El liderazgo
                      <bR>El trabajo en equipo
                      <bR>El alto desempeño
<br><br>Reconoce como valores que debe fomentar, los siguientes:<br>
                        <br>El respeto
                        <br>La honestidad
                        <br>La ética profesional
                        <br>La responsabilidad
                        <br>La puntualidad
                        <br>La empatía                        
</p>
<h3 class="lema1">Reconocimiento Nacional:</h3>
<p class="acercaDe">Actualmente el Instituto Tecnológico de Oaxaca es reconocido como una de las mejores Universidades Públicas del Estado de Oaxaca, por sus logros y reconocimientos a nivel nacional.</p>
</div>

</div>
