<H1 align="CENTER">CALENDARIO</H1>
<hr>
<div class="tab" align="CENTER">
    <button align="center" class="tablinks" ng-click='OpcionJornada(8)'id="SA">SABADO</button>
    <button align="center" class="tablinks" ng-click='OpcionJornada(9)'id="DO">DOMINGO</button>
    <button align="center" class="tablinks" ng-click='OpcionJornada(1)'id="J1">LUNES</button>
    <button align="center" class="tablinks" ng-click='OpcionJornada(2)'id="J2">MARTES</button>
    <button align="center" class="tablinks" ng-click='OpcionJornada(3)'id="J3">MIERCOLES</button>
    <button align="center" class="tablinks" ng-click='OpcionJornada(4)'id="S">JUEVES</button>
    <button align="center" class="tablinks" ng-click='OpcionJornada(5)'id="F">VIERNES</button>
</div>

<div class="container">
   <form>
     <div class="row">
          <div class="col-xs-3">
              <label class="checkbox-inline">
                  <input type="radio" name="visualizar" ng-click="busqueda('FUTBOL')"> FUTBOL
                </label>
          </div>
          <div class="col-xs-3">
              <label class="checkbox-inline">
                  <input type="radio" name="visualizar" ng-click="busqueda('BÁSQUETBOL')"> BASQUETBOL
                </label>
          </div>
          <div class="col-xs-3">
              <label class="checkbox-inline">
                  <input type="radio" name="visualizar" ng-click="busqueda('VOLEIBOL_PLAYA')"> VOLEIBOL DE PLAYA
                </label>
          </div>
          <div class="col-xs-3">
              <label class="checkbox-inline">
                  <input type="radio" name="visualizar" ng-click="busqueda('VOLEIBOL_SALA')"> VOLEIBOL DE SALA
                </label>
          </div>
     </div>

     <div class="row">
        <div class="col-xs-3">
            <label class="checkbox-inline">
                <input type="radio" name="visualizar" ng-click="busqueda('BEISBOL')"> BEISBOL
            </label>
        </div>
        <div class="col-xs-3">
            <label class="checkbox-inline">
                <input type="radio" name="visualizar" ng-click="busqueda('SOFTBOL')"> SOFTBOL
            </label>
        </div>
        <div class="col-xs-3">
            <label class="checkbox-inline">
                <input type="radio" name="visualizar" ng-click="busqueda('TENIS')"> TENIS
            </label>
        </div>
        <div class="col-xs-3">
            <label class="checkbox-inline">
                <input type="radio" name="visualizar" ng-click="busqueda('AJEDREZ')"> AJEDREZ
            </label>
        </div>
   </div>
    
   <div class="row">
      <div class="col-xs-3">
          <label class="checkbox-inline">
              <input type="radio" name="visualizar"ng-click="busqueda('NATACIÓN')"> NATACIÓN
            </label>
      </div>
      <div class="col-xs-3">
          <label class="checkbox-inline">
              <input type="radio" name="visualizar" ng-click="busqueda('ATLETISMO')"> ATLETISMO
          </label>
      </div>
      <div class="col-xs-3">
          <label class="checkbox-inline">
              <input type="radio" name="visualizar" ng-click="busqueda('TODOS')"checked> TODAS
            </label>
      </div>
      <div class="col-xs-3"></div>
 </div>      
    </form>
  </div>


<div class="panel panel-default">
        <div class="panel-body">
          <table ng-init='configPages()'class='table' id="mytable">
            <thead>
              <tr>
                <th align="CENTER">HORA</th>
                <th align="CENTER">SEDE</th>
                <th align="CENTER">DISCIPLINA</th>
                <th align="CENTER">ENCUENTRO</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='g in eventos| startFromGrid: currentPage * pageSize | limitTo:pageSize '>
                <td>{{g.hora}}</td>
                <td>{{g.sede}}</td>
                <td>{{g.disciplina}}</td>
                <td>{{g.local}} vs {{g.visita}}</td>
            </tbody>
            <div class='btn-group'>
                <button type='button' class='btn btn-default' ng-disabled='currentPage == 0' ng-click='currentPage = currentPage - 1'>&laquo;</button>
                <button type='button' class='btn btn-default' ng-disabled='currentPage == page.no - 1' ng-click='setPage(page.no)' ng-repeat='page in pages'>{{page.no}}</button>
                <button type='button' class='btn btn-default' ng-disabled='currentPage > eventos.length/pageSize - 1' , ng-click='currentPage = currentPage + 1'>&raquo;</button>
            </div>
        </div>
        