<div class="jumbotron text-center">
    <h2 class="titNota">LXII Evento Nacional Estudiantil Deportivo de los Institutos Tecnológicos</h2>
  
  <div class="imagenCabecera">
    <img src="../images/EntradaITO.jpg"/>
  </div>
  <br><br>
  <h5 class="fechaEvento">OAXACA DE JUAREZ, OAX  18 DE SEPTIEMBRE DE 2018.</h4>
  <br><br><br>
  <div class="estiloNota">
  <p class="nota">
    Por tercera ocasión el Instituto Tecnológico de Oaxaca será sede del LXII Evento Nacional Estudiantil Deportivo de los Institutos Tecnológicos ; en su LXII edición, reunirá a mas de  3,000 estudiantes deportistas, provenientes de los distintos institutos tecnológicos de nuestro país.
    El Instituto Tecnológico de Oaxaca está orgulloso de ser privilegiado con el honor de recibir a cada uno de los deportistas, comprometiéndose en salvaguardar cada uno de los ámbitos que englobe este gran evento. 
  </p>
  <h2  class="normalImportante">Por lo que no se permite olvidar los principios que son base de este Encuentro Intertecnológicos:</h2>
<ul class="normalImportante">
  <li class="liNota">El deporte y la recreación son prácticas que constituyen elementos fundamentales para alcanzar una vida plena mediante la formación de aptitudes, capacidades, hábitos y destrezas que permiten el desarrollo armónico e integral de los individuos.</li>
  <li class="liNota">El deporte alienta el espíritu de cooperación y solidaridad, estimula el deseo de éxito en un marco de sana competencia y coadyuva al bienestar físico, psicológico y moral de los jóvenes.</li>
  <li class="liNota">El deporte, en el Sistema, se sustenta en el estímulo y la promoción desde la base estudiantil, entre la cual se selecciona, capacita y alienta a los mejores deportistas para llevarlos a los más altos niveles de desempeño.</li>
</ul>
  <h2 class="normalImportante">Los principales objetivos que persigue la realización de esta justa deportiva son:</h2>
<ul class="normalImportante">
  <li class="liNota">Generar un espacio de convivencia y sana competencia que refuerce la identidad de quienes forman parte del Sistema Nacional de Institutos Tecnológicos.</li>
  <li class="liNota">Ofrecer a los alumnos alternativas para el uso adecuado del tiempo libre, contribuyendo a fortalecer sus habilidades psicomotrices y, en general, a mantener un buen estado de salud.</li>
  <li class="liNota">Fomentar la práctica de los deportes en la comunidad estudiantil, para favorecer el desarrollo integral de nuestros jóvenes.</li>
  <li class="liNota">De los encuentros deportivos han surgido atletas destacados que han sido preseleccionados olímpicos, tal es el caso de Eulogio Arroyo Luna, egresado del Tecnológico de Chihuahua en 1968 , el cual fue campeón nacional de lanzamiento de disco en la categoría de veteranos en 1985; además fue representante de nuestro país en los juegos Centroamericanos de 1990. Como el existen muchos otros estudiantes que tuvieron sus bases en cada uno de los eventos deportivos realizados.</li>
  <li class="liNota">Premiar los esfuerzos de los equipos y participantes mejor preparados.</li>
</ul>
</div>
</div>

