<script>
    // evento para recibir lo que se busca search
    $(document).ready(function(){
    $("#search").keyup(function(){
    _this = this;
    // muestrar solo los que coincidan con las busqueda
    //id de la tabla es mytable 
    $.each($("#mytable tbody tr"), function() {
    if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
    $(this).hide();
    else
    $(this).show();
    });
    });
   });
</script>
<br>
<center><h1>HISTORIAL ACCESO A COMEDOR</h1></center>
<hr>
<div class="row">
  <div class="col-xs-2">
    <button type="button" class="btn btn-dark" ng-class="{'active':main.rutaActual=='/HistorialComedor'}" ng-show="main.UsuarioFactory.usuario.id"
                onclick="location.href='#/Comedor'">
                <span class="glyphicon glyphicon-chevron-left"> REGRESAR</span>
    </button> 
  </div>
  <div class="col-xs-5"></div>
  <div class="col-xs-3"></div>
  <div class="col-xs-2"></div>
</div>

<br>
<div class="row">
  <div class="col-xs-2">TIPO</div>
  <div class="col-xs-2">DIA</div>
  <div class="col-xs-3">DISCIPLINA</div>
  <div class="col-xs-5">BUSQUEDA POR TECNOLÓGICO</div>
</div>
<div class="row">
    <div class="col-xs-2">
        <select class="form-control" >
           <option  ng-click="tipoSelect('TODAS')" selected>TODOS </option> 
           <option  ng-click="tipoSelect('DESAYUNO')" >DESAYUNO </option> 
           <option  ng-click="tipoSelect('COMIDA')">COMIDA</option> 
           <option  ng-click="tipoSelect('CENA')">CENA</option> 
        </select>
    </div>
    <div class="col-xs-2">
    <select class="form-control" >
           <option  ng-click="dia('TODAS')"selected>TODOS</option> 
           <option  ng-click="dia('Domingo')">DOMINGO</option> 
           <option  ng-click="dia('LUNES')" >LUNES</option> 
           <option  ng-click="dia('MARTES')" >MARTES</option> 
           <option  ng-click="dia('MIERCOLES')" >MIERCOLES</option> 
           <option  ng-click="dia('JUEVES')" >JUEVES</option> 
           <option  ng-click="dia('VIERNES')" >VIERNES</option> 
           <option  ng-click="dia('SABADO')" >SABADO</option> 
        </select>
    </div>
    <div class="col-xs-3">
        <select class="form-control" >
           <option  ng-click="opcionDisciplina('TODAS')"  selected>TODOS</option>
           <option  ng-click="opcionDisciplina('BEISBOL')" >BEISBOL</option>
           <option  ng-click="opcionDisciplina('SOFTBOL')" >SOFTBOL</option>
           <option  ng-click="opcionDisciplina('FUTBOL') ">FUTBOL</option> 
           <option  ng-click="opcionDisciplina('AJEDREZ')" >AJEDREZ</option> 
           <option  ng-click="opcionDisciplina('NATACIÓN')" >NATACIÓN</option> 
           <option  ng-click="opcionDisciplina('ATLETISMO')" >ATLETISMO</option> 
           <option  ng-click="opcionDisciplina('BASQUETBOL')" >BASQUETBOL </option> 
           <option  ng-click="opcionDisciplina('VOLEIBOL_SALA')" >VOLEIBOL SALA </option> 
           <option  ng-click="opcionDisciplina('VOLEIBOL_PLAYA')" >VOLEIBOL PLAYA </option> 
           <option  ng-click="opcionDisciplina('TENIS')">TENIS</option> 
        </select>
    </div>
    <div class="col-xs-5">
            <input type="text" class="form-control pull-left" style="width:90%" id="search" placeholder="Nombre Deportista....">
    </div>
  </div>
<div>
<hr>
<div class="row">
<div class="col-xs-2">
      <button type="button" class="btn btn-info btn-sm" onclick="exportTableToCSV('Reporte.csv')">
          <i class="fas fa-print" aria-hidden> EXPORTAR</i>
      </button>
</div>
</div>
<hr>
  <div class="panel panel-default">
    <div class="panel-body">
      <table ng-init='configPages()'class='table' id="mytable">
        <thead>
          <tr>
            <th>NOMBRE</th>
            <th>TECNOLÓGICO</th>
            <th>DISCIPLINA</th>
            <th>TIPO</th>
            <th>FECHA ACCESO</th>
            <th>HORA</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='dep in historial| startFromGrid: currentPage * pageSize | limitTo:pageSize'>
            <td>{{dep.nombre}}</td>
            <td>{{dep.tecProcedencia}}</td>
            <td>{{dep.disciplina}}</td>
            <td>{{dep.tipo}}</td>
            <td>{{dep.fechaAcceso}}</td>
            <td>{{dep.hora}}</td>
            </tr>
          </tbody>
        </table>
    </div>
    <script>
    function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;
    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});
    // Download link
    downloadLink = document.createElement("a");
    // File name
    downloadLink.download = filename;
    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);
    // Hide download link
    downloadLink.style.display = "none";
    // Add the link to DOM
    document.body.appendChild(downloadLink);
    // Click download link
    downloadLink.click();
}
function exportTableToCSV(filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");
    
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");
        
        for (var j = 0; j < cols.length-1; j++) 
            row.push(cols[j].innerText);
        
        csv.push(row.join(","));        
    }

    // Download CSV file
    downloadCSV(csv.join("\n"), filename);
}
    </script>
  