<script>
    // evento para recibir lo que se busca search
    $(document).ready(function(){
    $("#search").keyup(function(){
    _this = this;
    // muestrar solo los que coincidan con las busqueda
    //id de la tabla es mytable 
    $.each($("#mytable tbody tr"), function() {
    if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
    $(this).hide();
    else
    $(this).show();
    });
    });
   });
   </script>
<br>
<center><h1>LISTA DE AUTORIZADOS A COMEDOR</h1></center>
<hr>
<div class="row">
  <div class="col-xs-2">
    <button type="button" class="btn btn-dark" ng-class="{'active':main.rutaActual=='/Comedor'}" ng-show="main.UsuarioFactory.usuario.id"
                onclick="location.href='#/welcome'">
                <span class="glyphicon glyphicon-chevron-left">REGRESAR</span>
    </button> 
  </div>
  <div class="col-xs-2"></div>
  <div class="col-xs-3"></div>
  <div class="col-xs-5"></div>
</div>

<br>
<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-2"></div>
  <div class="col-xs-3"></div>
  <div class="col-xs-5"><left><label>Busqueda de Deportista</label></left></div>
</div>
<div class="row">
    <div class="col-xs-2">
        <select class="form-control" >
           <option  ng-click="opcionTipo('DEPORTISTA')">Deportista </option> 
           <option  ng-click="opcionTipo('OTROS')">Entrenador/Auxiliar</option> 
           <option  ng-click="opcionTipo('TODOS')" selected>AMBOS</option> 
        </select>
    </div>
    <div class="col-xs-2">
    <select class="form-control" >
           <option  ng-click="opcionGenero('AMBAS')"  selected>AMBOS </option> 
           <option  ng-click="opcionGenero('M')"  >FEMENIL </option> 
           <option  ng-click="opcionGenero('H')" >VARONIL </option> 
        </select>
    </div>
    <div class="col-xs-3">
        <select class="form-control" >
           <option  ng-click="opcionDisciplina('TODAS')"  selected>TODOS</option>
           <option  ng-click="opcionDisciplina('BEISBOL')" >BEISBOL</option>
           <option  ng-click="opcionDisciplina('SOFTBOL')" >SOFTBOL</option>
           <option  ng-click="opcionDisciplina('FUTBOL') ">FUTBOL</option> 
           <option  ng-click="opcionDisciplina('AJEDREZ')" >AJEDREZ</option> 
           <option  ng-click="opcionDisciplina('NATACIÓN')" >NATACIÓN</option> 
           <option  ng-click="opcionDisciplina('ATLETISMO')" >ATLETISMO</option> 
           <option  ng-click="opcionDisciplina('BASQUETBOL')" >BASQUETBOL </option> 
           <option  ng-click="opcionDisciplina('VOLEIBOL_SALA')" >VOLEIBOL SALA </option> 
           <option  ng-click="opcionDisciplina('VOLEIBOL_PLAYA')" >VOLEIBOL PLAYA </option> 
           <option  ng-click="opcionDisciplina('TENIS')">TENIS</option> 
        </select>
    </div>
    <div class="col-xs-5">
            <input type="text" class="form-control pull-left" style="width:90%" id="search" placeholder="Nombre Deportista....">
    </div>
  </div>
<div>
<hr>
<div class="row">
<div class="col-xs-2">
      <button type="button" class="btn btn-info btn-sm" onclick="exportTableToCSV('Reporte.csv')">
          <i class="fas fa-print" aria-hidden>EXPORTAR</i>
      </button>
</div>
</div>
<hr>
  <div class="panel panel-default">
    <div class="panel-body">
      <table ng-init='configPages()'class='table' id="mytable">
        <thead>
          <tr>
            <th>NOMBRE</th>
            <th>TECNOLÓGICO</th>
            <th>DISCIPLINA</th>
            <th>OPCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='dep in deportistas| startFromGrid: currentPage * pageSize | limitTo:pageSize'>
            <td>{{dep.nombre}} {{dep.apellidoP}} {{dep.apellidoM}}</td>
            <td>{{dep.tecProcedencia}}</td>
            <td>{{dep.disciplina}}</td>
            <td>
              <a ng-click="desactivarDeportista(dep.curp)" class="btn btn-danger btn-sm" ng-if="dep.activo === true && dep.tipo != 'admin'">
              <i class="fas fa-user-times" aria-hidden></i></a>
              <a ng-click="desactivarDeportista(dep.curp)" class="btn btn-success btn-sm" ng-if="dep.activo === false && dep.tipo != 'admin'" >
                <i class="fas fa-user-plus" aria-hidden></i></a>
            </td>
            </tr>
          </tbody>
        </table>
    </div>
    <script>
    function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;
    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});
    // Download link
    downloadLink = document.createElement("a");
    // File name
    downloadLink.download = filename;
    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);
    // Hide download link
    downloadLink.style.display = "none";
    // Add the link to DOM
    document.body.appendChild(downloadLink);
    // Click download link
    downloadLink.click();
}
function exportTableToCSV(filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");
    
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");
        
        for (var j = 0; j < cols.length-1; j++) 
            row.push(cols[j].innerText);
        
        csv.push(row.join(","));        
    }

    // Download CSV file
    downloadCSV(csv.join("\n"), filename);
}
    </script>