<CENTER>
  <h1>Atletismo</h1>
  <br>
<select>
  <option value="femenil">Femenil</option>
  <option value="varonil">Varonil</option>
</select> 
<br>
</CENTER>
    <div class="tab">
  <button class="tablinks" onclick="openGrupo(event, 'Ta')">Tipo A</button>
  <button class="tablinks" onclick="openGrupo(event, 'Tb')">Tipo B</button>
  <button class="tablinks" onclick="openGrupo(event, 'Tc')">Tipo C</button>
  <button class="tablinks" onclick="openGrupo(event, 'Td')">Tipo D</button>
  <button class="tablinks" onclick="openGrupo(event, 'sf')">Semifinales</button>
  <button class="tablinks" onclick="openGrupo(event, 'f')">Finales</button>
</div>
<div id="r1" class="tabcontent">
<table class="table">
    <tr class="tr">
        <th class="th">No.</th>
        <th class="th">Tecnologico</th>
        <th class="th">Puntos</th>
    </tr>
</table>
</div>