  <CENTER>
    <h1>Básquetbol</h1>
    <br>
  <select>
    <option value="femenil">Femenil</option>
    <option value="varonil">Varonil</option>
  </select> 
  <br>
  </CENTER>
	<div class="tab">
  <button class="tablinks" onclick="openGrupo(event, 'Ga')">Grupo A</button>
  <button class="tablinks" onclick="openGrupo(event, 'Gb')">Grupo B</button>
  <button class="tablinks" onclick="openGrupo(event, 'Gc')">Grupo C</button>
  <button class="tablinks" onclick="openGrupo(event, 'Gd')">Grupo D</button>
  <button class="tablinks" onclick="openGrupo(event, 'sf')">Semifinales</button>
  <button class="tablinks" onclick="openGrupo(event, 'f')">Finales</button>

</div>
  <div id="Ga" class="tabcontent">
   <table class="table">
 <tr class="tr">
    <th class="th">Tecnologico</th>
    <th class="th">P1</th>
    <th class="th">P2</th>
    <th class="th">P3</th>
    <th class="th">P4</th>
    <th class="th">PTS</th>
  </tr>
  <tr class="tr">
    <td class="td">I.T Tijuana</td>
    <td class="td">2</td>
    <td class="td">2</td>
    <td class="td">0</td>
    <td class="td">0</td>
    <td class="td">6</td>
  </tr> 
</table>
  
</div>

<div id="Gb" class="tabcontent">
 <table class="table">
  <tr class="tr">
    <th class="th">Tecnologico</th>
    <th class="th">P1</th>
    <th class="th">P2</th>
    <th class="th">P3</th>
    <th class="th">P4</th>
    <th class="th">PTS</th>
  </tr>
  <tr class="tr">
    <td class="td">I.T Tijuana</td>
    <td class="td">2</td>
    <td class="td">2</td>
    <td class="td">0</td>
    <td class="td">0</td>
    <td class="td">6</td>
  </tr> 
</table>   
</div>

<div id="Gc" class="tabcontent">
  <table class="table">
  <tr class="tr">
    <tr class="tr">
    <th class="th">Tecnologico</th>
    <th class="th">P1</th>
    <th class="th">P2</th>
    <th class="th">P3</th>
    <th class="th">P4</th>
    <th class="th">PTS</th>
  </tr>
  </tr>
  <tr class="tr">
    <td class="td">I.T Tijuana</td>
    <td class="td">2</td>
    <td class="td">2</td>
    <td class="td">0</td>
    <td class="td">0</td>
    <td class="td">6</td>
  </tr> 
</table>
</div>

<div id="Gd" class="tabcontent">
  <table class="table">
  <tr class="tr">
    <th class="th">Tecnologico</th>
    <th class="th">P1</th>
    <th class="th">P2</th>
    <th class="th">P3</th>
    <th class="th">P4</th>
    <th class="th">PTS</th>
  </tr>
  <tr class="tr">
    <td class="td">I.T Tijuana</td>
    <td class="td">2</td>
    <td class="td">2</td>
    <td class="td">0</td>
    <td class="td">0</td>
    <td class="td">6</td>
  </tr> 
</table>
</div>

<div id="sf" class="tabcontent">
	<table class="table">
      <tr >
        <td id="td">Tec 1</td>
        <td id="td">1</td>
        <td id="td">vs</td>
        <td id="td">2</td>
        <td id="td">Tec 2</td>        
      </tr>
      <tr >
        <td id="td">Tec 1</td>
        <td id="td">1</td>
        <td id="td">vs</td>
        <td id="td">2</td>
        <td id="td">Tec 2</td>        
      </tr>
    </table>
</div>

<div id="f" class="tabcontent">
  	<table class="table">
  		<tr>
  			<td id="td">Tec 1</td>
        <td id="td">1</td>
        <td id="td">vs</td>
        <td id="td">2</td>
        <td id="td">Tec 2</td>  
  		</tr>
  	</table>
</div>