  <CENTER>
    <h1>Fútbol</h1>
    <hr>
    <div class="row">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-6">
            <select class="form-control" >
               <option  ng-click='opcion(f)' value="femenil">Futbol Femenil</option> 
               <option  ng-click='opcion(v)' value="varonil" selected>Futbol Varonil</option> 
            </select>
        </div>
        <div class="col-xs-3"></div>
    <div>
    <br>
  </CENTER>
	<div class="tab">
    <button class="tablinks" onclick="openGrupo(event, 'Ga')">Jornada 1</button>
    <button class="tablinks" onclick="openGrupo(event, 'Gb')">Jornada 2</button>
    <button class="tablinks" onclick="openGrupo(event, 'Gc')">Jornada 3</button>
    <button class="tablinks" onclick="openGrupo(event, 'sf')">Semifinales</button>
    <button class="tablinks" onclick="openGrupo(event, 'f')">Finales</button>
</div>
<div class="panel panel-default">
        <div class="panel-body">
          <table ng-init='configPages()'class='table' id="mytable">
            <thead>
              <tr>
                <th>SEDE</th>
                <th>HORA</th>
                <th>LOCAL</th>
                <th> GOLES</th>
                <th>vs</th>
                <th> GOLES</th>
                <th>VISITANTE</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='g in games| startFromGrid: currentPage * pageSize | limitTo:pageSize', ng-click='seleccionarUsuario (dep.nombre)'>
                <td>{{g.sede}}</td>
                <td>{{g.hora}}</td>
                <td>{{g.local}}</td>
                <td>{{g.resultado1}}</td>
                <td></td>
                <td>{{g.resultado2}}</td>
                <td>{{g.visita}}</td>
            </tbody>
        </div>